//custom material ui
.ant-tabs-top>.ant-tabs-nav::before {
    border-bottom: 0px !important
}

.ant-card-cover {
    position: relative;
    height: 16rem;
}

.ant-form-item-control-input-content {
    text-align: right;
}

.ant-col.ant-col-12.ant-form-item-label {
    text-align: left;
}

.ant-modal-footer {
    display: none;
}

.label-name .ant-form-item-control {
    flex: 0 0 100% !important;
}

.ant-form .ant-form-item .ant-form-item-label,
.ant-form .ant-form-item .ant-form-item-control {
    flex: 0 0 50%;

}